page-pending-challenges {

  .header {
    text-align: center;
    h3 {
      font-size: 12px;
      font-weight: 500;
    }
  }

  .section {
    text-align: center;
    border-bottom: solid 1px lightgray;
    padding-bottom: 10px !important;
    span.at-court {
      font-size: 10px;
      color: orange;
    }
  }

}
