<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button>
        <span ion-text color="primary" showWhen="ios">Back</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      REQUEST TO PLAY
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="section">
    <h1 class="header">YOUR COURT</h1>
    <div class="court-group">
      <button ion-button text-capitalize color="light">{{ court.courtName }}</button>
    </div>
  </div>
  <div *ngIf="user" class="section">
    <h1 class="header">CHOOSE YOUR TEAM</h1>
    <ion-select>
      <ion-option *ngFor="let team of user.teams; let i = index" [value]="team.teamName.toLowerCase()" [selected]="i == 0 ? true : false">
        {{ team.teamName }}
      </ion-option>
    </ion-select>
  </div>
  <div class="search-section">
    <ion-searchbar spellcheck="true" autocomplete="true" autocorrect="true" (ionInput)="getItems($event)" placeholder="Search Players" showCancelButton="true"></ion-searchbar>
  </div>
  <ion-list *ngIf="queryList.length !== 0">
    <button ion-item *ngFor="let team of queryList" (click)="setOpponent(team)" text-capitalize>
      {{ team.teamName }}
    </button>
  </ion-list>
  <ion-item class="opponent" *ngIf="opponent">
    You choose {{ opponent.teamName }}
    <ion-icon name="ios-close" item-end></ion-icon>
  </ion-item>
  <div class="section">
    <h1 class="header">YOUR TIME SLOT</h1>
    <ion-item no-lines>
      <h3 item-start>{{ hour }}</h3>
      <button ion-button block class="open">OPEN</button>
    </ion-item>
  </div>
</ion-content>
<ion-footer no-shadow no-border>
  <button color="dark" ion-button full>ADD GAME</button>
</ion-footer>