page-add-game {
  .spinner-container {
    text-align: center;
  }

  .search-section {
    padding: 0;
    margin: 0;
    border-top: solid 1px lightgray;

    h1 {
      font-size: 13px;
    }

    div {
      padding: 0;
      margin: 0;
    }

    ion-searchbar {
      border: none !important;
    }
  }
  .section {
    padding: 20px 0;
    border-top: solid 1px lightgray;

    h1.header {
      font-size: 15px;
    }
  
    .court-group {
      display: inline-flex;
      flex-direction: row;
      justify-content: space-between;
      button {
        color: gray !important;
        font-size: 12px;
        margin: 0 5px;
      }
    }

    ion-item {
      .open {
        background-color: orange !important;
      }
    }
  }

  .section:first-child {
    border-top: none;
  }

  .opponent {
    ion-icon {
      color: red;
    }
  }
}
