<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (tap)="goback()">
        <span ion-text color="primary" showWhen="ios">Back</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      REQUEST TO PLAY
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="section">
    <h1 class="header">YOUR COURT</h1>
    <div *ngIf="!court">
      <div class="search-section">
        <ion-searchbar
          (input)="courtTerm$.next($event.target.value)"
          placeholder="Search Courts"
          showCancelButton="true"
          [ngModel]="courtTerm$.getValue()"
          (ionCancel)="courtQueryList = []"
          ></ion-searchbar>
      </div>
      <div *ngIf="courtSearching" class="spinner-container">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
      <ion-list no-lines *ngIf="courtQueryList.length !== 0">
        <button ion-item *ngFor="let court of courtQueryList" (click)="setCourt(court)" text-capitalize>
          {{ court.courtName }}
        </button>
      </ion-list>
    </div>
    <div *ngIf="!!court" class="court-group">
      <button ion-button text-capitalize color="light" (tap)="clearCourt()">
        {{ court.courtName }}
        &nbsp;
        <ion-icon name="close"></ion-icon>
      </button>
    </div>
  </div>
  <div *ngIf="!!user" class="section">
    <h1 class="header">CHOOSE YOUR TEAM</h1>
    <ion-list no-lines *ngIf="!team">
      <button ion-item *ngFor="let team of user.teams" (click)="setTeam(team)" text-capitalize>
        {{ team.teamName }}
        &nbsp;
      </button>
    </ion-list>
    <div *ngIf="!!team" class="court-group">
      <button ion-button text-capitalize color="light" (tap)="clearTeam()">
        {{ team.teamName }}
        <ion-icon name="close"></ion-icon>
      </button>
    </div>
  </div>
  <div class="section">
    <h1 class="header">YOUR OPPONENT</h1>
    <div *ngIf="!opponent">
      <div class="search-section">
        <ion-searchbar
          (input)="teamTerm$.next($event.target.value)"
          placeholder="Search Players"
          showCancelButton="true"
          [ngModel]="teamTerm$.getValue()"
          (ionCancel)="teamQueryList = []"
        ></ion-searchbar>
      </div>
      <div *ngIf="teamSearching" class="spinner-container">
        <ion-spinner name="bubbles"></ion-spinner>
      </div>
      <ion-list no-lines *ngIf="teamQueryList.length !== 0">
        <button ion-item *ngFor="let team of teamQueryList" (tap)="setOpponent(team)" text-capitalize>
          {{ team.teamName }}
        </button>
      </ion-list>
    </div>
    <div *ngIf="!!opponent" class="court-group">
      <button ion-button text-capitalize color="light" (tap)="clearOpponent()">
        {{ opponent.teamName }}
        &nbsp;
        <ion-icon name="close"></ion-icon>
      </button>
    </div>
  </div>
  <div class="section">
    <h1 class="header">YOUR TIME SLOT</h1>
    <span *ngIf="!hour && !court">You need to choose a court first</span>
    <div *ngIf="!hour && court">
      <ion-item no-lines *ngFor="let hour of openHours()">
        <h3 item-start>{{ hour }}</h3>
        <button (tap)="setHour(hour)" ion-button block class="open">OPEN</button>
      </ion-item>
    </div>
    <ion-item *ngIf="!!hour" no-lines>
      <h3 item-start>{{ hour }}</h3>
      <button (tap)="clearHour()" ion-button block class="open">OPEN</button>
      <ion-icon name="close" item-end></ion-icon>
    </ion-item>
  </div>
</ion-content>
<ion-footer no-shadow no-border>
  <button color="dark" ion-button full>ADD GAME</button>
</ion-footer>