page-login {

  ion-content{
    background: black !important;
  }

  img{
    padding: 7%;
    padding-top: 40%;
  }

  ion-list{
    padding: 5%;
  }

  ion-item{
    background-color: transparent !important;
    color: white !important;
  }
  ion-item:first-child{
    border-top: none !important;
  }

  ion-item:last-child{
    border-bottom: none !important;
    .item-inner{
      border-bottom: 0.55px solid #c8c7cc !important;
    }
  }

  .termAndCond{
    padding: 5%;
    font-size: 12px;
    position: bottom;
    color: white;
  }

}
