page-login {

  ion-content{
    background: black !important;
  }

  img{
    padding: 7%;
    padding-top: 10%;
  }

  ion-list{
    padding-top: 40%;

  }


  ion-item{
    margin-bottom:3% !important;
    background-color: #323232 !important;
    color: white !important;
    border-top: none !important;
    border-bottom: none !important;
    -moz-border-radius: 30%;
    -webkit-border-radius: 30%;
    border-radius: 30px;

  }

  .item-ios{
    border-radius: 30px;
  }

  ion-item:first-child{
    border-top: none !important;
    .item-inner{
      border-bottom: none !important;
    }
    border-bottom: none !important;
  }


  button{
    width: 95%;
  }



}
