<ion-content>
  <ion-searchbar spellcheck="true" autocomplete="true" autocorrect="true" (ionInput)="getItems($event)" placeholder="Search Teams" showCancelButton="true"></ion-searchbar>
  <div *ngIf="queryList">
    <ion-list>
      <button ion-item *ngFor="let team of queryList" text-capitalize detail-none no-lines>
        {{team.teamName}}
        <h3 item-end> {{team.wins}}</h3>
      </button>

    </ion-list>
  </div>

<div *ngIf="!queryList || queryList == ''">
  <div class="empty" padding>
    <h2 padding>Search for Teams</h2>
  </div>
</div>

</ion-content>
