<ion-header>

    <ion-toolbar>
      <ion-buttons start>
        <button ion-button (tap)="goback()">
          <span ion-text color="primary" showWhen="ios">Back</span>
          <ion-icon name="md-close" showWhen="android"></ion-icon>
        </button>
      </ion-buttons>
      <ion-title>
        Todays Challenges
      </ion-title>
    </ion-toolbar>

  </ion-header>


  <ion-content>
    <div class="header">
      <h3>TODAY&nbsp;</h3>
    </div>

    <div *ngIf="this.todaysChallenges.length > 0">
      <div class="section" *ngFor="let challenge of this.todaysChallenges">
        <ion-item no-lines >
          <h3 item-start>{{challenge.gameTime}}</h3>
          <button ion-button block color="dark">{{challenge.teams[0].teamName}} VS {{challenge.teams[1].teamName}}</button>
        </ion-item>
        <span class="at-court">@ {{challenge.court.courtName}}</span>
      </div>
    </div>

    <div class="noGames" *ngIf="this.todaysChallenges.length == 0">
      <h1>No games Scheduled Today</h1>
    </div>

    <ion-item no-lines>
      <button ion-button block color="light">ADD A GAME</button>
    </ion-item>
  </ion-content>
