page-todays-challenges {

  .header {
    text-align: center;
    h3 {
      font-size: 12px;
      font-weight: 500;
    }
  }
  .section {
    text-align: center;
    border-bottom: solid 1px lightgray;
    padding-bottom: 10px !important;
    span.at-court {
      font-size: 10px;
      color: orange;
    }
  }

  .courtInfo{
    color: orange;
    font-size: 12px;
  }
  .teamInfo{
    .button-inner{
      font-weight: bold;
      font-size: 16px;
    }

  }

  .noGames{
    margin: auto;
    height: 100%;
    padding-top: 50%;
    vertical-align: middle;
    text-align: center;
  }

}
