<ion-header>
    <ion-toolbar>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>

  </ion-header>

<ion-content>
  <ion-grid text-center>
    <ion-label id="name">{{this.user.name}}</ion-label>

    <div id="profile-info" padding *ngIf="!user.profilePic">
      <button id="add-photo-btn" ion-button large round icon-only color="dark">
          <ion-icon name="camera"></ion-icon>
      </button>
    </div>
    <div id="profile-info" padding *ngIf="user.profilePic">
      <ion-avatar (click)="changePic()">
        <img id="profile-image" [src]="_DomSanitizer.bypassSecurityTrustUrl(user.profilePic)">
      </ion-avatar>
    </div>

    <ion-label id="streetName">@{{this.user.streetName}}</ion-label>

    <ion-row>
      <ion-col>
        Courts Ruled
      </ion-col>
      <ion-col>
        Record <br />
      </ion-col>
      <ion-col>
        Coins Available
      </ion-col>
    </ion-row>
    <ion-row padding-bottom>
      <ion-col>
        {{this.courtsRuled}}
      </ion-col>
      <ion-col>
       {{this.wins}}-{{this.losses}}
      </ion-col>
      <ion-col>
        {{this.user.coins}}
      </ion-col>
    </ion-row>

    <!-- <ion-row>
      <ion-col>
          <button ion-button small round outline color="light"> Edit Profile</button>
      </ion-col>
    </ion-row> -->
  </ion-grid>
  <ion-list>
    <ion-list-header text-left>
      My Teams
    </ion-list-header>

      <button ion-item *ngFor="let team of user.teams" text-capitalize (tap)="goToTeamProfile(team)">
        <ion-avatar *ngIf="team.teamImage" item-start>
          <img [src]="_DomSanitizer.bypassSecurityTrustUrl(team.teamImage)">
        </ion-avatar>
        <ion-icon *ngIf="!team.teamImage" item-start name="basketball"></ion-icon>
        {{team.teamName}}
      </button>

    <button ion-item (click)="goToCreatePage()">
      <h3>Create A Team</h3>
      <ion-icon item-start name="add"></ion-icon>
    </button>

  </ion-list>

  <button ion-item (click)="goToTodaysChallenges()">
    <h3>Today's Games</h3>
  </button>
  <ion-item>
    <h3>Finished Games</h3>
  </ion-item>

</ion-content>
