<ion-header>

    <ion-toolbar>
      <ion-title>
        Profile
      </ion-title>
    </ion-toolbar>

  </ion-header>

<ion-content>
  <ion-grid text-center>
    <ion-label id="name">{{this.user.name}}</ion-label>

    <div id="profile-info" padding *ngIf="!this.profilePic">
      <button id="add-photo-btn" ion-button large round icon-only color="dark" (tap)="changePic()">
          <ion-icon name="camera"></ion-icon>
      </button>
    </div>
    <div id="profile-info" padding *ngIf="profilePic">
      <ion-avatar (click)="changePic()">
        <img id="profile-image" [src]="_DomSanitizer.bypassSecurityTrustUrl(this.profilePic)">
      </ion-avatar>
    </div>

    <ion-label id="streetName">@{{this.user.streetName}}</ion-label>

    <ion-row>
      <ion-col>
        Courts Ruled
      </ion-col>
      <ion-col>
        Record <br /> W-L
      </ion-col>
      <ion-col>
        Coins Available
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        {{this.user.courtsRuled}}
      </ion-col>
      <ion-col>
        <!-- {{this.user.winTotal}} - {{this.user.lossTotal}} -->
      </ion-col>
      <ion-col>
        {{this.user.coins}}
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
          <button ion-button small round outline color="lights"> Edit Profile</button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header text-left>
      My Teams
    </ion-list-header>

      <button ion-item *ngFor="let team of user.teams" text-capitalize>
        <ion-avatar item-start>
          <img [src]="_DomSanitizer.bypassSecurityTrustUrl(team.teamImage)">
        </ion-avatar>
        {{team.teamName}}
      </button>

    <button ion-item (click)="goToCreatePage()">
      <h3>Create A Team</h3>
      <ion-icon item-start name="add"></ion-icon>
    </button>

  </ion-list>

  <ion-item>
    <h3>Pending Challenges</h3>
  </ion-item>

  <ion-item>
    <h3>Finished Challenges</h3>
  </ion-item>

</ion-content>
