page-profile {


  .toolbar-background, .tabbar{
    border : none !important;
  }

  ion-grid{
    // background: linear-gradient(#232526, #414345);
    background-size: cover;
    background-image: url("../../assets/imgs/basket1.jpg");
    color: white;
  }
  ion-col {
    font-weight: bold;
  }
  .item > ion-icon:first-child, .item-inner > ion-icon:first-child {
    min-width: 36px;
  }

  #name{
    margin-bottom: .3em;
    font-size: 1.9rem;
  }

  #streetName{
    font-size: 1.5rem;
    // font-weight: bold;
  }

  ion-avatar{
    img{
      height: 100px;
      width: 100px;
      margin: auto;
      display: block;
      border-radius: 50%;
      border: 2px solid white;
      // box-shadow: 
    }
  }







}
