page-profile {

  #name{
    margin-bottom: .3em;
    font-size: 1.9rem;

  }

  #streetName{
    font-size: 1.35rem;
  }

  #profilePic{
    img{
      height: 15%;
      width: 25%;
      margin: auto;
    }
  }





}
