page-sign-up {

  ion-content{
    background: black !important;
  }

  img{
    margin: auto;
  }

  ion-avatar{
    img{
      height: 120px;
      width: 120px;
      //border: 2px solid white;
      margin: auto;
      display: block;
      border-radius: 50%;
    }
  }

  ion-item{
    margin-bottom:4% !important;
    background-color: #323232 !important;
    color: white !important;
    border-top: none !important;
    .item-inner{
      border-bottom: none !important;
    }
    -moz-border-radius: 30%;
    -webkit-border-radius: 30%;
    border-radius: 30px;
  }

  ion-item:last-child{
    border-bottom: none !important;
  }

  .item-ios{
    border-radius: 30px;
  }

  #sign-up-btn{
    width: 95%;
  }

}
