<ion-content padding text-center>

  <img src="../../assets/imgs/basketcrown-e.png"/>

  <div id="profile-info" padding *ngIf="!imageUri">
    <button id="add-photo-btn" ion-button large round icon-only color="dark" (tap)="changePic()">
        <ion-icon name="camera"></ion-icon>
    </button>
  </div>
  <div id="profile-info" padding *ngIf="imageUri">
    <ion-avatar (click)="changePic()">
      <img id="profile-image" [src]="_DomSanitizer.bypassSecurityTrustUrl(imageUri)">
    </ion-avatar>
  </div>

  <ion-list>

    <ion-item>
      <ion-icon name="person" item-start></ion-icon>
      <ion-input type="text" placeholder="Name" [(ngModel)]="name"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="basketball" item-start></ion-icon>
      <ion-input type="text" placeholder="Username" [(ngModel)]="streetName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="mail" item-start></ion-icon>
      <ion-input type="email" placeholder="Email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-icon name="lock" item-start></ion-icon>
      <ion-input type="password" placeholder="Password" [(ngModel)]="password"></ion-input>
    </ion-item>

  </ion-list>

  <button id="sign-up-btn" ion-button round outline color="light" (tap)="loginEvent()"> Sign Up</button>
  <button ion-button small clear color="light" (tap)="goToLoginPage()"> Already have an account? Log in</button>

</ion-content>
