<ion-header>
  <ion-navbar>
    <ion-title>
      {{team.teamName}}
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div *ngIf="!team" class="spinner-container">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <div *ngIf="team">
    <ion-grid text-center>
      <span class="notes location" padding>{{ team.homeTown }}</span>
      <ion-slides pager>
        <ion-slide *ngFor="let player of players">
          <ion-avatar class="profile-pic">
            <img  [src]="player.profilePic">
          </ion-avatar>
          <h3 class="player-name">@{{ player.streetName }}</h3>
          <!-- <span class="notes player-notes">Center on College League</span> -->
        </ion-slide>
      </ion-slides>
      <ion-row>
        <ion-col>
          <span class="notes">Courts Ruled</span>
        </ion-col>
        <ion-col>
          <span class="notes">Games Won</span>
        </ion-col>
        <ion-col>
          <span class="notes">Total Coins</span>
        </ion-col>
      </ion-row>
      <ion-row padding-bottom>
        <ion-col>
          {{ team.courtsRuled.length }}
        </ion-col>
        <ion-col>
          {{team._challengesWonMeta.count}}
        </ion-col>
        <ion-col>
          {{getTotalCoins(team)}}
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-list>
      <ion-list-header>
        Courts Ruled ({{team.courtsRuled.length}})
      </ion-list-header>
      <ion-item *ngFor="let court of team.courtsRuled">
        <p>{{court.courtName}}</p>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
