page-team-profile {
  .scroll-content {
    overflow-y: hidden !important;
  }
  .spinner-container {
    width: 100%;
    text-align: center;
    padding: 50%;
  }

  ion-grid {
    color: white;
    background-image: url('../../assets/imgs/basket3.jpg');
    background-size: cover;
    ion-col {
      font-weight: bold;
      font-size: 1.2em;
    }
  }
  .name{
    margin-bottom: .1em;
    font-size: 1.9rem;
  }

  .swiper-pagination-bullet-active {
    background: white !important;
    opacity: 1;
  }

  .swiper-pagination-bullet {
    background: gray;
    opacity: 1;
  }

  ion-slide {
    padding-bottom: 30px !important;
  }

  .notes {
    font-size: 11px;
    color: lightgray;
  }

  .location {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
  }

  .player-name {
    font-size: 1.35rem;
    margin-bottom: 0.1em;
  }

  .profile-pic {
    img{
      height: 15%;
      width: 25%;
      margin: auto;
      border-radius: 50%;
      border: 2px solid white;
    }
  }
}
