<ion-header>
  <ion-navbar hideBackButton>
    <button ion-button clear icon-only (tap)="goBack()">
      <ion-icon name="arrow-back"></ion-icon>
    </button>
    <ion-title> Create a team</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid  *ngIf="!teamImage">
    <ion-row>
      <ion-col col-3>
        <div class="takePhoto" text-center>
          <ion-icon color="light" name="camera" (tap)="presentActionSheet()"></ion-icon>
        </div>
      </ion-col>
      <ion-col col-9>
        <ion-item>
          <ion-icon name="basketball" item-start></ion-icon>
          <ion-input placeholder="Choose a Team Name" [(ngModel)]= "teamName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="search" item-start></ion-icon>
          <ion-input placeholder="Your home Town" [(ngModel)]= "homeTown"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid  *ngIf="teamImage">
    <ion-row>
      <ion-col col-3>
        <ion-avatar (click)="presentActionSheet()">
          <img class="team-image" [src]="_DomSanitizer.bypassSecurityTrustUrl(teamImage)">
        </ion-avatar>
      </ion-col>
      <ion-col col-9>
        <ion-item>
          <ion-icon name="basketball" item-start></ion-icon>
          <ion-input placeholder="Choose a Team Name" [(ngModel)]= "teamName"></ion-input>
        </ion-item>
        <ion-item>
          <ion-icon name="search" item-start></ion-icon>
          <ion-input placeholder="Your home Town" [(ngModel)]= "homeTown"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-list>
    <h5 padding>Current Roster</h5>
    <ion-list>
      <ion-item *ngFor="let member of team" text-capitalize>
        <ion-avatar *ngIf="member.profilePic" item-start class="profile-pic">
          <img [src]="_DomSanitizer.bypassSecurityTrustUrl(member.profilePic)">
        </ion-avatar>
        <ion-avatar *ngIf="!member.profilePic" item-start class="profile-pic">
          <img src="../../assets/imgs/mockProfile.jpg">
        </ion-avatar>
        <h3 style="font-weight:bold">{{member.name}}</h3> <h3>@{{member.streetName}}</h3>

          <button ion-button item-end icon-only clear *ngIf="member.id != user.id" (tap)="removeUser(member)">
            <ion-icon name="close"></ion-icon>
          </button>

      </ion-item>
    </ion-list>

    <ion-searchbar spellcheck="true" autocomplete="true" autocorrect="true" (ionInput)="getItems($event)" placeholder="Search Players" showCancelButton="true"></ion-searchbar>
    <div *ngIf="queryList">
      <ion-list>
        <button ion-item *ngFor="let user of queryList" (click)="addUser(user)" text-capitalize>
          <ion-avatar *ngIf="user.profilePic" item-start class="profile-pic">
            <img [src]="_DomSanitizer.bypassSecurityTrustUrl(user.profilePic)">
          </ion-avatar>
          <ion-avatar *ngIf="!user.profilePic" item-start class="profile-pic">
            <img src="../../assets/imgs/mockProfile.jpg">
          </ion-avatar>
          <h3 style="font-weight:bold">{{user.name}}</h3> <h3>@{{user.streetName}}</h3>
        </button>
      </ion-list>
    </div>

  <div *ngIf="!queryList || queryList == ''">
    <div class="empty" padding>
      <h2 padding>Add Players to your team.</h2>
    </div>
  </div>
  </ion-list>


</ion-content>

<ion-footer padding="0px">
    <button color="dark" ion-button full (tap)="validateTeam()">Create Team</button>
</ion-footer>
