page-search {
  .spinner-container {
    text-align: center;
    padding-top: 40%;
  }
  .toolbar-background {
    border: none !important;
  }

  .segment-ios .segment-button {
    border: 0px !important;
    font-size: 1.1em !important;
    border-radius: 0px !important;
    opacity: 0.5 !important;
    height: 6vh !important;
    padding-top: 1vh;
    background-color: #f8f8f8 !important;

  }
  .segment-ios .segment-activated {
    background-color: #f8f8f8 !important;
    color: black !important;
    border-bottom: 2.5px solid #222 !important;
    opacity: 1 !important;
  }

  ion-icon {
    font-size: 1em;
  }
  h3 {
    font-weight: bold !important;
  }

}
