<ion-header>
  <!-- <ion-toolbar>

  </ion-toolbar> -->
  <ion-segment [(ngModel)]="searchType" color="dark">
      <ion-segment-button value="Players">
        Players
      </ion-segment-button>
      <ion-segment-button value="Teams">
        Teams
      </ion-segment-button>
      <ion-segment-button value="Courts">
        Courts
      </ion-segment-button>
  </ion-segment>
</ion-header>

<ion-content padding>

  <div [ngSwitch]="searchType">
    <div *ngSwitchCase="'Players'">
      <ion-searchbar spellcheck="true" autocomplete="true" autocorrect="true" (ionInput)="searchPlayers($event)" placeholder="Search Players" showCancelButton="true"></ion-searchbar>
      <div *ngIf="queryListPlayers && queryListPlayers != ''">
        <ion-list-header>
          Username
          <span style="float: right"> Wins </span>
        </ion-list-header>
        <ion-list>
          <button ion-item *ngFor="let user of queryListPlayers" text-capitalize text-capitalize detail-none no-lines>
            {{user.name}}
            <h3 item-end> {{user.winTotal}}</h3>
          </button>
        </ion-list>
      </div>
    <div *ngIf="!queryListPlayers || queryListPlayers == ''" text-center>
      <div class="empty">
        <h2 padding>Search for Players</h2>
      </div>
    </div>
  </div>

  <div *ngSwitchCase="'Teams'">
    <ion-searchbar spellcheck="true" autocomplete="true" autocorrect="true" (ionInput)="searchTeams($event)" placeholder="Search Teams" showCancelButton="true"></ion-searchbar>
    <div *ngIf="queryListTeams && queryListTeams != ''">
      <ion-list-header>
        Team Name
        <span style="float: right"> Wins </span>
      </ion-list-header>
      <ion-list>
        <button ion-item *ngFor="let team of queryListTeams" text-capitalize detail-none no-lines>
          {{team.teamName}}
          <h3 item-end> {{team.wins}}</h3>
        </button>

      </ion-list>
    </div>

  <div *ngIf="!queryListTeams || queryListTeams == ''" text-center>
    <div class="empty">
      <h2 padding>Search for Teams</h2>
    </div>
  </div>
</div>

  <div *ngSwitchCase="'Courts'">
    <ion-searchbar spellcheck="true" autocomplete="true" autocorrect="true" (ionInput)="searchCourts($event)" placeholder="Search Courts" showCancelButton="true"></ion-searchbar>
    <div *ngIf="queryListCourts && queryListCourts != ''">
      <ion-list>
        <button ion-item *ngFor="let court of queryListCourts" text-capitalize (tap)="goToCourt(court)">
          {{court.courtName}}
        </button>
      </ion-list>
    </div>
    <div *ngIf="!queryListCourts || queryListCourts == ''" text-center>
      <div class="empty">
        <h2 padding>Search for Courts</h2>
      </div>
    </div>
  </div>

  </div>

</ion-content>
