page-search {
  .segment-ios .segment-button {
    border: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    font-size: 1.1em !important;
    border-radius: 0px !important;
    opacity: 0.5 !important;
    height: 6vh !important;
    padding-top: 1vh;
    background-color: #f8f8f8 !important;
  }
  .segment-ios .segment-activated {
    background-color: #f8f8f8 !important;
    color: black !important;
    border-bottom: 2px solid #FF2222 !important;
    opacity: 1 !important;
  }

}
