page-schedule {

//centers everything on the page.


  ion-scroll{
    white-space: nowrap;
    height: 75px;
    width: 100%;
    .scrollTimes{
      display: inline-block;
      // max-width: 15%;
      width: 60px;
      height: 60px;
      line-height: 30px;
      border: 1px solid lightgray;
      color: gray;
      border-radius: 50%;
      margin: 10px;
    }
  }

  div {
    text-align: center;
    padding: 0px;
    width: 100%;

    .court-name {
      h1{
        font-size: 18px;
        font-weight: bold;
      }
    }

    .court-king-info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 5px;
      border-bottom: solid 1px lightgray;

      h3 {
        font-size: 13px;
      }
      h3, div {
        flex: 1;
      }

      .avatar-group {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        img {
          flex: 1;
          margin: 0 2px;
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }
      }
    }

    .standings-header {
      h3 {
        font-size: 16px;
        font-weight: 500;
      }
    }

    h5{
      font-weight: bold;
    }
  }

  #headerContent{
    height: 4%;
  }
  #schedule-content{
    border-bottom: 1px solid grey;
    h5{
      font-weight: bold;
    }
  }


  ion-item {
    .open {
      background-color: orange !important;
    }

    .closed {
      background-color: black !important;
    }


    .segment-ios .segment-button {
    border: 0px !important;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
    font-size: 1.1em !important;
    border-radius: 0px !important;
    opacity: 0.5 !important;
    height: 6vh !important;
    padding-top: 1vh;
  }

  .segment-ios .segment-activated {
    background-color: white !important;
    color: black !important;
    border-bottom: 2px solid #FF2222 !important;
    opacity: 1 !important;
  }

  #schedule-content{
    border-top: solid 1pc lightgray;
    // border-bottom: solid 1px lightgray;
  }





  }
}
