<ion-header>
  <ion-toolbar>
    <ion-buttons start>
      <button ion-button (click)="goback()">
        <span ion-text color="primary" showWhen="ios">Back</span>
        <ion-icon name="md-close" showWhen="android"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>
      Court
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="!court" class="spinner-container">
    <ion-spinner name="bubbles"></ion-spinner>
  </div>
  <div *ngIf="court">
    <div class="court-name">
      <h1 text-capitalize>{{ court.courtName }}</h1>
    </div>
    <hr style="width: 30%;" />
    <div>
      <button ion-button color="dark">
        <span>Get Directions</span>
      </button>
    </div>
    <hr style="width: 30%;" />
    <div *ngIf="court.courtKings">
      <div class="court-king-header">
        <h3>CURRENT COURT KINGS</h3>
      </div>
      <div class="court-king-info">
        <h3>{{ court.courtKings.teamName }}</h3>
        <div class="avatar-group">
          <img [src]="court.courtKings.players[0].profilePic">
          <img [src]="court.courtKings.players[1].profilePic">
          <img [src]="court.courtKings.players[2].profilePic">
        </div>
        <h3>{{ court.courtKings.wins }}</h3>
      </div>
    </div>
    <div *ngIf="court.standings">
      <div class="standings-header">
        <h3>STANDINGS FOR THE THRONE</h3>
      </div>
      <ion-item no-lines *ngFor="let team of court.standings">
        <h3 item-start text-capitalize>{{ team.teamName }}</h3>
        <h3 item-end>{{ team.wins }}</h3>
      </ion-item>
    </div>
  </div>
</ion-content>
<ion-footer no-shadow no-border>
  <button color="dark" ion-button full (tap)="openSchedule()">View Schedule</button>
</ion-footer>