page-map-detail {
  div {
    text-align: center;
    padding: 0px;
    width: 100%;

    button {
      span {
        font-size: 13px;
      }
    }

    .court-name {
      h1 {
        font-size: 18px;
      }
    }

    .court-king-header {
      h3 {
        font-size: 12px;
        font-weight: 500;
      }
    }

    .court-king-info {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding-bottom: 5px;
      border-bottom: solid 1px lightgray;

      h3 {
        font-size: 13px;
      }
      h3, div {
        flex: 1;
      }
  
      .avatar-group {
        display: inline-flex;
        flex-direction: row;
        justify-content: space-between;
        img {
          flex: 1;
          margin: 0 2px;
          width: 40px;
          height: 40px;
          border-radius: 20px;
        }
      }
    }

    .standings-header {
      h3 {
        font-size: 12px;
        font-weight: 500;
      }
    }
  }
  ion-item {
    border-bottom: solid 0.5px lightgray !important;
  }
}
