<ion-content>
  <ion-searchbar spellcheck="true" autocomplete="true" autocorrect="true" (ionInput)="getItems($event)" placeholder="Search Courts" showCancelButton="true"></ion-searchbar>
  <div *ngIf="queryList">
    <ion-list>
      <button ion-item *ngFor="let court of queryList" text-capitalize>
        {{court.courtName}}
      </button>
    </ion-list>
  </div>

<div *ngIf="!queryList || queryList == ''">
  <div class="empty" padding>
    <h2 padding>Search for Courts</h2>
  </div>
</div>

</ion-content>
